@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Great+Vibes&family=Manrope:wght@200&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Great+Vibes&family=Manrope:wght@200&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Carter+One&family=Great+Vibes&family=Manrope:wght@200&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Carter+One&family=Great+Vibes&family=Lato:wght@100&family=Manrope:wght@200&family=Montserrat:wght@100;200&family=Righteous&family=Tilt+Warp&display=swap');



*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; 
}
body {
    background-color: #000506;
}
/* ------------------------------gradient card css---------------------------------- */
.container{
  padding-left: 60px;
  display: flex;
  justify-content: space-between;
  padding-top: 10%;
}
/* ------------------------------ welcome message ------------------------- */
.wrapper{
  flex-basis: 40%;
}
.welcome{
  padding-top: 10%;
  flex-basis: 55%;
}
.welcome h1{
  font-family: sans-serif;
  font-size: 60px;
  background: linear-gradient(90deg,#01f0e1, #25f202);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome p{
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 50;
  background: linear-gradient(90deg,#eee, #00ecfd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  padding: 5px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  margin-top: 5%;
}

.card__content {
  background: rgb(5, 6, 45);
  border-radius: 17px;
  width: 100%;
  height: 100%;
}
.img{
  display: block;
    width: 90%;
    margin: auto;
    flex-basis: 50%;
}

/* -----------------------nav bar---------------------- */

nav{
  background-color: rgba(0, 0, 0, 0.61);   
  backdrop-filter: blur(5px);
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
  padding-right: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  background: linear-gradient(#080808);
}

nav ul{
    flex: 2;
    text-align: right;
    padding-right: 50px;
    font-family: sans-serif;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 50px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    position: relative;}
    nav ul{
        flex: 2;
        text-align: right;
        padding-right: 50px;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin: 10px 50px;
    }
    nav ul li a{
        color: white;
        text-decoration: none;
        position: relative;
        font-family: 'Bruno Ace', serif;
        font-size: 15px;
      

    /* 
    nav button{
        background: #efefef;
        height: 30px;
        width: 60px;
        border-radius: 20px;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: background 0.5s;
    }
    nav button span{
        display: block;
        background: black;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        margin-left: 2px;
        transition: background 0.5s, margin-left 0.5s; */
    }
    nav ul li a::after{
        content: '';
        width: 0%;
        height: 3px;
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        background: #00aaff ;
        transition: width 0.3s;
    }
    nav ul li a:hover::after{
        width: 110%;
    }
    nav h1{
      font-family: 'Bruno Ace', cursive;
      font-family: 'Great Vibes', cursive;
      color: white;
      margin-left: 5%;
      font-size: 45px;
      margin-top: 1%;
    }
    nav span{
      color: white;
    }
/* 
nav button span{
    display: block;
    background: black;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: background 0.5s, margin-left 0.5s; */

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #00c8ff ;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}


/*------------- About Me section-------------- */

#About{
  background: linear-gradient(90deg,#130284, #f802cb);
  background-position: 20%;
  padding: 10px 100px;
  font-family: sans-serif;
  border: 10x solid rgb(249, 3, 93);
  border-radius: 30% 70% 46% 54% / 17% 45% 55% 83%;
  margin-right: 45%;
}
.row{
  color: rgb(8, 8, 8);
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-2{
  padding-top: 2px;
  padding-bottom: 50px;
  margin-top: 40%;
  margin-bottom: 40%;
}
.sub-title .p{
  font-family: sans-serif;
  font-weight: 900;
  font-size: larger;
}

/* -------------------Back to top button-------------------- */

.btni{
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #f8f7f7 ;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  font-weight: 500;
}
.btni:hover{
  background: linear-gradient(30deg, rgb(9, 255, 0), #0a0870 );
  color: rgb(5, 5, 5);
  font-weight: bold;
  font-family: sans-serif;
}

/* --------------welcome hover button------------------ */

button {
  position: relative;
  padding: 1em 1.8em;
  outline: none;
  border: 1px solid #303030;
  background: #212121;
  color: #ae00ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 3%;
  margin-top: 1%;
 }
 
 button:hover {
  box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
  transition-delay: 0.6s;
 }
 
 button span {
  position: absolute;
 }
 
 button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ae00ff);
 }
 
 button:hover span:nth-child(1) {
  left: 100%;
  transition: 0.7s;
 }
 
 button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #001eff);
 }
 
 button:hover span:nth-child(3) {
  right: 100%;
  transition: 0.7s;
  transition-delay: 0.35s;
 }
 
 button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ae00ff);
 }
 
 button:hover span:nth-child(2) {
  top: 100%;
  transition: 0.7s;
  transition-delay: 0.17s;
 }
 
 button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #001eff);
 }
 
 button:hover span:nth-child(4) {
  bottom: 100%;
  transition: 0.7s;
  transition-delay: 0.52s;
 }
 
 button:active {
  background: #ae00af;
  background: linear-gradient(to top right, #ae00af, #001eff);
  color: #bfbfbf;
  box-shadow: 0 0 8px #ae00ff, 0 0 8px #001eff, 0 0 8px #ae00ff;
  transition: 0.1s;
 }
 
 button:active span:nth-child(1) 
 span:nth-child(2) 
 span:nth-child(2) 
 span:nth-child(2) {
  transition: none;
  transition-delay: none;
 }


/* spinner/loader for site */

body{
  display: grid;
  place-items: center;
  position: center;
  padding: auto;
}

.spinner {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: -75px;
}

.spinner span {
  position: absolute;
  top: 50%;
  margin-left: 50%;
  margin-right: 50%;
  left: var(--left);
  width: 35px;
  height: 7px;
  background: #ffff;
  animation: dominos 1s ease infinite;
  box-shadow: 2px 2px 3px 0px black;
}

.spinner span:nth-child(1) {
  --left: 80px;
  animation-delay: 0.125s;
}

.spinner span:nth-child(2) {
  --left: 70px;
  animation-delay: 0.3s;
}

.spinner span:nth-child(3) {
  left: 60px;
  animation-delay: 0.425s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.54s;
  left: 50px;
}

.spinner span:nth-child(5) {
  animation-delay: 0.665s;
  left: 40px;
}

.spinner span:nth-child(6) {
  animation-delay: 0.79s;
  left: 30px;
}

.spinner span:nth-child(7) {
  animation-delay: 0.915s;
  left: 20px;
}

.spinner span:nth-child(8) {
  left: 10px;
}

@keyframes dominos {
  50% {
    opacity: 0.7;
  }

  75% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  80% {
    opacity: 1;
  }
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background: #0a0a0a;
  font-weight: 300;
  margin-top: 20px;
}
.copyright p{
  color: white;
}

/* --------------------NEWSLETTER-------------------- */

.form {
  display: flex;
  flex-direction: column;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #3f4c6b, #000206);
  background: linear-gradient(to right, #fe0151,#0901ff);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  border: 1px solid #f8f7f7 ;
}

.title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #fff;
}

.description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgb(209 213 219);
}

.form div {
  display: flex;
  max-width: 28rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
}

.form div input {
  outline: none;
  line-height: 2rem;
  font-size: 0.875rem;
  color: rgb(255 255 255 );
  padding: 0.5rem 0.875rem;
  background-color: rgb(255 255 255 / 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}

.form div input::placeholder {
  color: rgb(216, 212, 212);
}

.form div input:focus {
  border: 1px solid rgb(99 102 241);
}

.form div button {
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 2rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(0, 9, 7);
  border-radius: 0.375rem;
  border: none;
  outline: none;
}

/* Page divider */
.section{
  height: 7px;
  background-color: #9fe8ee;
  margin-left: -500px;
  /* margin-right: 500px; */
  width: 132.9%;
}

/*------------------------ Contact -------------------------------- */

#contact{
  background: rgb(166, 62, 62);
}
.contact-left{
  flex-basis: 35%;
}
.contact-right{
  flex-basis: 60%;
}
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: rgb(34, 0, 255) ;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons{
  color: rgb(251, 4, 4);
  text-align: center;
}
.social-icons{
  margin-top: 30px;
  margin-right: 60px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #f50267;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover{
  color: red ;
  transform: translateY(-5px);
}
.btn.btn2{
  display: inline-block;
  background: rgb(5, 5, 5);
  margin-top: 30px;
}
.contact-right form{
  width: 100%;
}
form input,form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #030303;
  padding: 15px;
  margin: 15px 0;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}
form btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
.sub-tittle{
  color: white;
}
.fa-solid p{
  color: white;
}